# 忽略編譯產物
target/

# 忽略 IDE 文件
.idea/
*.iml
*.ipr
*.iws

# 忽略環境變量文件
*.env

# 忽略 Maven 和 Gradle 的設定文件
*.log
*.jar
*.war
*.class
*.apk

# 忽略 OS 特定的文件
.DS_Store
Thumbs.db

# 忽略 Maven 本地存儲庫
~/.m2/repository/

# 忽略應用程式配置文件
application.properties
application.yml

# 忽略其他開發過程中產生的文件
*.tmp
*.bak
*.swp

# 忽略測試報告
target/surefire-reports/
target/failsafe-reports/
