.body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.formContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 垂直置中 */
}

.formContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}

.formContainer input,
.formContainer select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.formContainer button {
    width: 100%;
    padding: 10px;
    background-color: #41afe6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.formContainer button:hover {
    background-color: #379abe;
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}
