/* 設置整個部分的內邊距，讓內容與邊界保持一定距離 */
.sectionPadding {
    padding: 4rem 4rem;
}

/* 設置頁腳的背景顏色 */
.footer {
    background-color: #2d2d32;
}

/* 設置頁腳內部的佈局為縱向排列，用於放置不同的區塊 */
.sbFooter {
    display: flex;
    flex-direction: column;
}

/* 設置頁腳鏈接部分的佈局，讓各個鏈接區塊水平排列，並在小螢幕時自動換行 */
.sbFooterLinks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

/* 設置每個鏈接區塊的樣式，使它們顯示為縱向排列的白色文字 */
.sbFooterLinksDiv {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

/* 設置鏈接的顏色及移除下劃線，使其看起來更為統一 */
.link {
    color: rgb(175, 175, 179);
    text-decoration: none;
}

/* 設置社交媒體圖標區塊的樣式，讓圖標水平排列 */
.socialMedia {
    display: flex;
    flex-direction: row;
}

/* 設置社交媒體圖標的大小 */
.socialMedia img {
    width: 80%;
}

/* 設置區塊標題的樣式，包括字體大小和行高 */
.sbFooterLinksDiv h4 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

/* 設置鏈接文字的樣式，包括字體大小、行高和邊距 */
.sbFooterLinksDiv p {
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

/* 設置頁腳下方的佈局，讓內容左右對齊，並在小螢幕時縱向排列 */
.sbFooterBelow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

/* 設置頁腳下方的鏈接區塊的樣式 */
.sbFooterBelowLinks {
    display: flex;
    flex-direction: row;
}

/* 設置頁腳下方鏈接的文字樣式，包括字體大小、行高和顏色 */
.sbFooterBelowLinks p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

/* 設置頁腳中的水平分隔線顏色 */
hr {
    color: white !important;
    width: 100%;
}

/* 設置版權信息文字的樣式 */
.sbFooterCopyright p {
    font-size: 13px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

/* 媒體查詢：適用於螢幕寬度小於 850px 的情況，調整標題字體大小 */
@media screen and (max-width: 850px) {
    .sbFooterHeading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

/* 媒體查詢：適用於螢幕寬度小於 550px 的情況，調整標題字體大小和頁腳佈局 */
@media screen and (max-width: 550px) {
    .sbFooterHeading h1 {
        font-size: 34px;
        line-height: 42px;
    }
    .sbFooterLinks div {
        margin: 1rem 0;
    }
    .sbFooterBtn p {
        font-size: 14px;
        line-height: 20px;
    }
    .sbFooterBelow {
        flex-direction: column;
        justify-content: left;
    }
    .sbFooterBelowLinks {
        flex-direction: column;
    }
    .sbFooterBelowLinks p {
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

/* 媒體查詢：適用於螢幕寬度小於 400px 的情況，進一步調整標題字體大小 */
@media screen and (max-width: 400px) {
    .sbFooterHeading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}



