.container {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

/* 頂部導航欄樣式 */
.headerST ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.headerST li {
    float: left;
}

.headerST li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.headerST li a:hover {
    background-color: #111;
}
.searchBox {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 10px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.pagination .activePage {
    background-color: #0056b3;
}