.cinema-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cinema-buttons button {
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #A020F0;
    color: #A020F0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 增加过渡效果 */
}

.cinema-buttons button:hover {
    background-color: #A020F0;
    color: #FFFFFF;
}

.showdates {
    margin-bottom: 20px;
    margin-top: 20px;
}

.showdates button {
    margin: 10;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #A020F0;
    color: #A020F0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.showdates button:hover {
    background-color: #A020F0;
    color: #FFFFFF;
}

.showdate-info{
    margin: 5px;
}



.showtime-group {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; 如果内容溢出，允许换行 */
    /* gap: 10px; 控制元素之间的间距 */
    margin-bottom: 20px; /* 控制每组之间的间距 */
    border: 1px solid #ddd; /* 为每个组添加边框以区分 */
    padding: 10px; /* 为每个组添加内边距 */
    background-color: #f9f9f9; /* 为每个组添加背景色 */
    border-radius: 5px; /* 添加圆角 */
    width: 650px;
}

.hall-info {
    
    display: flex;
    justify-content: space-between;
    /* align-items: center; 垂直居中对齐 */
    gap: 10px; /* 控制元素之间的间距 */
    padding: 5px;
}

.hall-info div {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.showtimes-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* 如果内容溢出，允许换行 */
    gap: 10px; /* 控制按钮之间的间距 */
}

.showtime-item {
    display: flex;
    align-items: center;
    justify-content: center; /* 居中对齐 */
    padding: 10px;
    border: 1px solid #A020F0;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 增加过渡效果 */
}

.showtime-item:hover {
    background-color: #A020F0;
    color: #FFFFFF;
}

.showtime-row {
    display: flex;
    align-items: center;
    justify-content: space-around ;
    margin-bottom: 15px;
}

.showtimes-list {
    flex-basis: 70%; /* 控制放映时间的宽度 */
    display: flex;
    gap: 10px;
}